.container__EditProfileForm{
    border: 1px solid var(--trekkers-secondary);
    padding: 1.5rem;
    border-radius: 10px;
}

.form-group{
    width: 98%;
    padding: 0.4rem;
    font-size: 1rem
}


.uplouder__label-content{
    width: 40%;
}

.uploader__label{
    padding:  10px 15px;
    border-radius: 10px;
    background-color: var(--grey-2);
    color: var(--white);
    text-transform: capitalize ;
    font-size: 1.1rem ;
    border: none;
    text-align: center;
    margin-bottom: 0.8rem;
    margin-top: 0;
}

.btn_editProfile-content-form{
    padding:  10px 15px;
    border-radius: 33px;
    cursor: pointer;
    background-color: var(--trekkers-primary);
    color: var(--white);
    text-transform: capitalize ;
    font-size: 1.1rem ;
    border: none;
    text-align: center;
    width: 92%;
    margin-top: 0.4rem;
    margin-left: 8px;
}

.btn_editProfile-content-form:hover{
    background-color: var(--trekkers-primary-2)
}

