.messenger {
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}

.chatBox {
    flex: 6.5;
    width: 100%;
    border-left: 1px solid var(--trekkers-secondary);
    border-right: 1px solid var(--trekkers-secondary);
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  top: 0;
  overflow-y: auto;
  max-height: 75vh;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  background-color: var(--trekkers-primary);
  color: white;
  margin-right: 1rem;
}

.chatSubmitButton:hover{
  background-color: var(--trekkers-primary-2);
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  cursor: default;
  padding-left: 2rem;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}