.widgets {
    flex: 0.2;
    height: 100vh;
    position: sticky; 
    top: 0; 
    max-height: 100vh; 
    
}

.widgets button:hover {
    background-color: var(--trekkers-primary-2) !important;
}

.users__link{
    text-decoration: none;
    color: black;
}
