.notifications{
    display: flex;
}

.notifications__container{
    flex: 0.65;
    width: 100%;
    border-left: 1px solid var(--trekkers-secondary);
    border-right: 1px solid var(--trekkers-secondary);
}
