.tweetbox{
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--trekkers-secondary);
}

.tweetbox__form {
    display: flex;
}

.tweetbox__form-field{
    margin-left: 1rem;
    flex: 1;
}

.tweetbox__input{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweetbox__input-input {
    border: none;
    height: 2.5rem;
    width: 100%;
    border-bottom: 1px solid var(--trekkers-secondary);
    margin-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0% 10px;
}

.tweetbox__input-input::placeholder {
    font-size: 1.2rem;
}

.tweetbox__input-title{
    width: 50%;
}

.tweetbox__input-post{
    border: none;
    height: 5rem;
    width: 85%;
    border-bottom: 1px solid var(--trekkers-secondary);
}

.tweetbox__icons{
    color: var(--trekkers-primary) !important;
    width: fit-content;
    display: flex;
}

.tweetbox__icon{
    margin-right: 1rem;
    cursor: pointer;
}

.tweetbox__btn {
    background-color: var(--trekkers-primary) !important;
    border-radius: 33px !important;
    color: var(--white) !important;
    font-size: 1.1rem !important;
    text-transform: capitalize !important;
    border: none !important;
    margin-right: 4.5rem !important;
    padding: 0.5rem 2rem !important;
}

.tweetbox__btn:hover {
    background-color: var(--trekkers-primary-2) !important;
}

.tweetbox__select-content{
    border: none;
    text-transform: capitalize ;
    text-align: center;
    width: 15rem;
}

.tweetbox__select-option{
    border: none;
    background-color: var(--white);
    color: var(--trekkers-primary);
}

.tweetbox__select-option:hover{
    border: none;
    background-color: var(--grey-2);
    color: var(--white);
}