.searchBar{
    display: flex;
}

.searchBar_container{
    flex: 0.65;
    width: 100%;
    border-left: 1px solid var(--trekkers-secondary);
    border-right: 1px solid var(--trekkers-secondary);
}

.searchBar_container h2{
    padding: 1rem;
    margin-left: 2rem;
}

.search-form{
    margin-left: 6rem;
}

.search-form__input{
    width: 58%;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
    padding:  10px 15px;
    text-transform: capitalize ;
    font-size: 1rem ;
    border: none;
    box-shadow: 0 0 20px rgba(14, 7, 7, 0.1);
}

.search-form__input:hover{
    background-color: var(--trekkers-secondary);
}

.search-form__btn{
    padding:  10px 15px;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    cursor: pointer;
    background-color: var(--trekkers-primary);
    color: var(--white);
    text-transform: capitalize ;
    font-size: 1.1rem ;
    border: none;
    text-align: center;
    box-shadow: 0 0 20px rgba(14, 7, 7, 0.1);
}

.search-form__btn:hover{
    background-color: var(--trekkers-primary-2)
}

.search__result{
    padding: 2rem 4rem;
}


.countryName label{
        width: 90%; 
        height: 30px; 
        font-size: 16px; 
        padding: 5px; 
        margin-top: 50px;
        text-align: center;
        background-color: rgb(232, 188, 155);
        border-color: rgb(249, 99, 45);
        display:block;
        margin-left: 5%;
}
.title label{
    width: 90%; 
    height: 30px; 
    font-size: 16px; 
    padding: 4.5px; 
    margin-top: 20px;
    text-align: center;
    background-color: rgb(53, 123, 202);
    display:block;
    margin-left: 5%;
}
.gragh p{
    text-align: center;
    margin: 20px;
    text-justify: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.countryImg{
    width: 80%; 
    height: 300px; 
    margin-top: 30px;
}